img
{
    height: 100px;
}
.first
{
    height: 30%;
    width: 30%;
    margin-top: 20px;
}
.second
{
    height: 30%;
    width: 30%;
    margin-top: -112px;
    padding-left: 20px;
}
.third
{
    height: 30%;
    width: 30%;
    margin-top: -135px;
    padding-left: 20px;
}
.forth
{
    height: 40%;
    width: 30%;
    margin-top: 2%;
}
.fifth
{
    height: 40%;
    width: 30%;
    margin-top: -22%;
    padding-left: 20px;

}
.sixth
{
    height: 35%;
    width: 30%;
    margin-top: -50%;
    padding-left: 20px;
}
.seventh
{
    height: 35%;
    width: 30%;
    margin-top: -58%;
    margin-left: 60.8%;
    padding-left: 20px;
}
.eighth
{
    height: 35%;
    width: 30%;
    margin-top: -13%;
    margin-left: 30.4%;
    padding-left: 20px;

}
.ninth
{
    height: 35%;
    width: 30%;
    margin-top: -31%;
    margin-left: 60.8%;
    padding-left: 20px;
}